<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Spring Trophy</title>
</head>
<body class="white lighten-3">
  <!-- NAVBAR -->
  <nav class="z-depth-0 orange lighten-1">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo white-text">Spring Trophy Registration Page</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="large material-icons">dehaze</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="logged-in" style="display:none">
            <a href="#" class="white-text modal-trigger" data-target="modal-account"><b>Account</b></a>
          </li>
          <li class="logged-in" style="display:none">
            <a href="#" class="white-text" id="logout"><b>Logout</b></a>
          </li>
          <li class="logged-in" style="display:none">
            <a href="/races" class="white-text modal-trigger"><b>Yarışlar</b></a>
          </li>
          <li class="logged-out" style="display:none">
            <a href="#" class="white-text modal-trigger" data-target="modal-login"><b>Login</b></a>
          </li>
          <li class="logged-out" style="display:none">
            <a href="#" class="white-text modal-trigger" data-target="modal-signup"><b>Sign up</b></a>
          </li>
        </span>
      </ul>
    </div>
  </nav>
  <!--Mobile Navbar -->
  <ul class="sidenav" id="mobile-demo"><br>
    <li class="logged-in" style="display:none">
            <a href="#" class="white-text modal-trigger orange" data-target="modal-account"><b>Account</b></a>
          </li><br>
          <li class="logged-in" style="display:none">
            <a href="#" class="white-text orange" id="logoutMobile" onclick="logoutFunc()"><b>Logout</b></a>
          </li><br>
          <li class="logged-in" style="display:none">
            <a href="/races" class="white-text modal-trigger orange"><b>Yarışlar</b></a>
          </li><br>
          <li class="logged-out" style="display:none">
            <a href="#" class="white-text modal-trigger orange" data-target="modal-login"><b>Login</b></a>
          </li><br>
          <li class="logged-out" style="display:none">
            <a href="#" class="white-text modal-trigger orange" data-target="modal-signup"><b>Sign up</b></a>
          </li>
  </ul>
          
  <!-- SIGN UP MODAL -->
  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <h4>Sign up</h4><br />
      <form id="signup-form">
        <div class="input-field">
          <input type="email" id="signup-email" required />
          <label for="signup-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="signup-password" required />
          <label for="signup-password">Choose password</label>
        </div>
        <button class="btn orange darken-2 z-depth-0">Sign up</button>
        <p id="signUpError" class="red-text"></p>
      </form>
    </div>
  </div>
  <!-- LOGIN MODAL -->
  <div id="modal-login" class="modal">
    <div class="modal-content">
      <h4>Login</h4><br/>
      <b><p id="loginError" class="red-text"></p></b><br>
      <form id="login-form">
        <div class="input-field">
          <input type="email" id="login-email" required />
          <label for="login-email">Email address</label>
        </div>
        <div class="input-field">
          <input type="password" id="login-password" required />
          <label for="login-password">Your password</label>
        </div>
        <button class="btn orange darken-2 z-depth-0 waves-effect waves-light">Login</button>
      </form>
    <button class="btn blue darken-2 z-depth-0 waves-effect waves-blue modal-trigger" data-target="lostMyPassword">Parolamı Unuttum</button>
    </div>
  </div>

<!-- Lost Password Modal -->
  <div id="lostMyPassword" class="modal">
    <div class="modal-content">
      <h4>Mail Adresinizi Giriniz!</h4>
      <b><p id="errorOrSuccess"></p></b>
        <form id="lostPassword">
          <div class="input-field">
            <input type="email" id="lostedMail" required>
          </div>
          <button class="btn blue darken-2 z-depth-0 waves-effect waves-blue lostMyPassword">Şifre Gönder</button>
        </form>
    </div>
  </div>
  <!-- ACCOUNT MODAL -->
  <div id="modal-account" class="modal">
    <div class="modal-content center-align">
      <h4>Account details</h4><br />
      <div class="account-details"></div>
      <div class="account-extras"></div>
    </div>
  </div>
  
  <div class="container">
    <ul class="collapsible popout" id="raceList">

    </ul>
  </div>
  <!-- GUIDE LIST -->
  <div class="container teknelerimView" style="margin-top: 40px;display:none">
    <h4><b>Teknelerim</b> &nbsp;<a class="waves-effect waves-light btn orange modal-trigger" href="/register">Tekne Ekle</a></h4>
    <ul class="collapsible z-depth-0 guides" style="border: none;">
      
    </ul>
  </div>

  <!--Racer List Modal -->
  <div class="container racerListModal" style="margin-top: 40px;display:none">
    <h4><b>Yarışçılarım</b> &nbsp;<a class="waves-effect waves-light btn orange modal-trigger" data-target="modal-createCrew">Yarışçı Ekle</a></h4>
      <div id="modal-createCrew" class="modal">
    <div class="modal-content">
      <h4>Yarışçı Kayıt</h4><br/>
      <form id="createRacer">
        <div class="input-field">
          <input type="text" id="racerName" required />
          <label for="racerName">Name</label>
        </div>
        <div class="input-field">
          <input type="text" id="racerLicenceNumber" required />
          <label for="racerLicenceNumber">Licence Number</label>
        </div>
        <div class="input-field">
          <input type="text" id="racerClub" required />
          <label for="racerClub">Club</label>
        </div>
        <div class="input-field">
          <input type="text" id="racerMobile" required />
          <label for="racerMobile">Mobile Number</label>
        </div>
        <button class="btn orange z-depth-0 waves-effect waves-light">Sign Racer</button>
      </form>
    </div>
  </div>
  </div>

  <!--Racers List -->
  <div class="container RacerList">
    <table class="highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Licence Number</th>
              <th>Club</th>
              <th>Mobile</th>
          </tr>
        </thead>          
        <tbody id="racerTable">
          
        </tbody>  
      </table>
  </div>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyBDCgnKEdzqwnCNBa0quelrrDacqxvFrSk",
    authDomain: "spring-trophy-mail-892ec.firebaseapp.com",
    databaseURL: "https://spring-trophy-mail-892ec.firebaseio.com",
    projectId: "spring-trophy-mail-892ec",
    storageBucket: "spring-trophy-mail-892ec.appspot.com",
    messagingSenderId: "787246748678"
  };
    firebase.initializeApp(config);
    
    // make auth and firestore references
    const auth = firebase.auth();
    const db = firebase.firestore();
    // update firestore settings
    db.settings({ timestampsInSnapshots: true });

    function logoutFunc(){
    
    console.log("Cikis Yapiyorum!");
    auth.signOut();
    window.location.replace("/")
}

  </script>
  <!-- Compiled and minified JavaScript -->
  <script src="/scripts/materialize.js"></script>
  <script src="/scripts/auth.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>