<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Register Form</title>
</head>
<body>
    <section id="All">
    <form id="create-sail" onsubmit="myButton.disabled = true; return true;">
        <div class="container center-align">
        <div class="row">
            <div class="col s12 m6 l6">
                <br>
                <img src="/images/Bauisc-Logo.png" width="256" height="256" class="animated bounceInLeft">
            </div>
            <div class="col s12 m6 l6">
              <h3 class="indigo-text text-darken-4 animated bounceInRight"><b>BAUISC SPRING TROPHY</b></h3>
                <h4 class="indigo-text text-darken-4 animated bounceInRight"><b></b></h4>
                <h4 class="indigo-text text-darken-4 animated bounceInRight"><b></b></h4>
                <h5 class="indigo-text text-darken-4 animated bounceInRight">TEKNE KAYIT FORMU</h5>
            </div><br><br>
        </div>
        <div class="row">
            <div class="input-field s12">
                <p for="first_name" class="left-align"><b>Event Name</b></p>
                <input type="text" placeholder="Event Name" id="first-name" class="validate" required>
            </div>
            <div class="input-field s12">
                <p for="first_name" class="left-align"><b>Yatch Name</b></p>
                <input type="text" placeholder="Yatch Name" id="yatch-name" class="validate" required>
            </div>
            <div class="input-field s12">
                <p for="first_name" class="left-align"><b>Port And Country</b></p>
                <input type="text" placeholder="Port And Country" id="port-and-country" class="validate" required>
            </div>
            <div class="input-field s12">
                <p for="first_name" class="left-align"><b>Sail Number</b></p>
                <input type="text" placeholder="Sail Number" id="sail-number" class="validate" required>
            </div>
        </div>
        <h5 class="blue-text text-darken-2">IRC Bilgileri</h5>
            <div class="row">
                <div class="input-field s12">
                    <p for="irc-rating" class="left-align"><b>IRC Rating (TCC)</b></p>
                    <input type="text" placeholder="IRC Reyting" id="irc-rating" class="validate" required>
                </div>
                <div class="row">
                    <div class="col s12">
                        <p><b>According to your IRC rating please choose your IRC class (IRC puanınıza göre ilgili IRC sınıfınızı seçiniz)</b></p>
                        <p><b>İlgili IRC'nizin altına 'X' işareti koymanız gerekmektedir.</b></p>

                    </div>
                    <div class="input-field col s2">
                        <p><b class="red-text text-darken-4">IRC-0</b></p>
                        <p>TCC 1,140 ve üzeri</p>
                        <input type="text" id="irc-0">
                    </div>
                    <div class="input-field col s2">
                        <p><b class="yellow-text text-darken-3">IRC-1</b></p>
                        <p>TCC 1,139 - 1,050</p>
                        <input type="text" id="irc-1">
                    </div>
                    <div class="input-field col s2">
                        <p><b class="green-text">IRC-2</b></p>
                        <p>TCC 1,049 - 1,020</p>
                        <input type="text" id="irc-2">
                    </div>
                    <div class="input-field col s2">
                        <p><b class="blue-text text-darken-4">IRC-3</b></p>
                        <p>TCC 1,019 - 0,980</p>
                        <input type="text" id="irc-3">
                    </div>
                    <div class="input-field col s2">
                        <p><b class="orange-text">IRC-4</b></p>
                        <p>TCC 0,979 ve altı</p>
                        <input type="text" id="irc-4">
                    </div>
                    <div class="input-field col s2">
                        <p><b>GEZGIN</b></p><br>
                        <input type="text" id="irc-5">
                    </div>
                </div>
                <h6 class="blue-text text-darken-2 left-align" style="padding-left:10%">*All rating documents must be “ENDORSED”</h6>
                <h6 class="black-text text-darken-2 left-align" style="padding-left:10%"><b>(Tüm rating belgeleri “ENDORSED” olmak zorundadır)</b></h6>
                <br><br>
                <hr style="background-color: orange; height: 3px; border: 0;">
                <br><br>
                <div class="row">
                    <div class="input-field col s12">
                        <p class="blue-text text-darken-2"><b>NON-IRC Rating(TCF)</b></p>
                        <p><b>(Gezgin Reyting)</b></p>
                        <input type="text" id="non-irc-rating">
                    </div>
                    <div class="input-field col s12 m2 l2">
                        <p class="blue-text text-darken-2"><b>Year Of Construction</b></p>
                        <p><b>(Yapım Yılı)</b></p><br>
                        <input type="text" name="" id="year-of-construction" >
                    </div>
                    <div class="input-field col s12 m2 l2">
                        <p class="blue-text text-darken-2"><b>Overall Length(LOA)</b></p>
                        <p><b>(Tam Boy)</b></p><br>
                        <input type="text" id="overall-length" >
                    </div>
                    <div class="input-field col s12 m2 l2">
                        <p class="blue-text text-darken-2"><b>Spinnaker/Gennaker</b></p>
                        <p><b>(Simetrik/Asimetrik Balon)</b></p><br>
                        <input type="text" id="spinnaker"   >
                    </div>
                    <div class="input-field col s12 m2 l2">
                        <p class="blue-text text-darken-2"><b>Folding Propeller</b></p>
                         <p><b>(Katlanır Pervanı)</b></p><br>
                        <input type="text" id="folding-propeller">
                    </div>
                    <div class="input-field col s12 m2 l2">
                        <p class="blue-text text-darken-2"><b>Daggerboard</b></p>
                        <p><b>(Hareketli Salma)</b></p><br>
                        <input type="text" id="daggerboard">
                    </div>
                </div>
            </div>
                <p>
                    <label>
                        <input class="filled-in" type="checkbox" />
                        <span class="blue-text text-darken-2"><b>I guarantee that my boat is appropriate on article 2.3 of the BAUISC Sailing Instructions</b></span>
                        <br><span><b>(Teknemin, BAUISC’nin Yarış İlanının madde 2.3’e uygun olduğunu taahhüt ederim)</b></span>
                    <br><br></label>
                </p>
                <hr style="background-color: orange; height: 3px; border: 0;"><br>
            <div class="row">
                <div class="input-field col s6 left-align">
                    <p class="blue-text text-darken-2"><b>Rating Documents Issued by and Date of Issue</b></p>
                    <p><b>(Ölçü belgesini veren makam ve tarihi)</b></p>
                </div>
                <div class="col s6"><br>
                    <input type="text" name="" id="date-of-issue">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 l2">
                    <p class="blue-text text-darken-2"><b>Hull Color</b></p>
                    <p><b>(Gövde Rengi)</b></p><br><br>
                    <input type="text" name="" id="hull-color">
                </div>
                <div class="col s12 m2 l2">
                    <p class="blue-text text-darken-2"><b>Rig Type</b></p>
                    <p><b>(Arma Tipi)</b></p><br><br>
                    <input type="text" name="" id="rig-type">
                </div>
                <div class="col s12 m2 l2">
                    <p class="blue-text text-darken-2"><b>Hull Material</b></p>
                    <p><b>(Gövde Materyali)</b></p><br><br>
                    <input type="text" name="" id="hull-material">
                </div>
                <div class="col s12 m3 l3">
                    <p class="blue-text text-darken-2"><b>Marina Ponton</b></p><br><br><br>
                    <p><b></b></p>
                    <input type="text" name="" id="marina-ponton">
                </div>
                <div class="col s12 m3 l3">
                    <p class="blue-text text-darken-2"><b>Advertisement</b></p>
                    <p><b>(Reklam Belgesi)</b></p><br><br>
                    <input type="text" name="" id="advertisement">
                </div><br><br>
            </div><br><br>
            <div class="row">
                    <div class="file-field input-field">
                        <p><b>Lütfen IRC Belgenizi Yükleyiniz</b></p>
                        <div class="btn orange">
                            <span>Yükle</span>
                            <input type="file" multiple id="fileOne" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                            <div class="progress">
                                <div class="determinate" style="width: 0%" id="ircLoader"></div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <p><b>Lütfen Reklam Belgenizi Yükleyiniz</b></p>
                        <div class="btn orange">
                            <span>Yükle</span>
                            <input type="file" id="fileTwo">
                        </div>
                        <div class="file-path-wrapper" >
                            <input class="file-path valid" type="text">
                        </div>
                        <div class="progress">
                                <div class="determinate" style="width: 0%" id="adverLoader"></div>
                            </div>
                        </div>
                </div>
                        <br><br>
                <hr style="background-color: orange; height: 3px; border: 0;"><br>

            <div class="row">
                <div class="input-field col s12">
                    <b><p class="blue-text text-darken-2">Yacht Owner</p></b>
                    <b><p class="black-text text-darken-2">Yat Sahibi</p></b>
                    <input type="text" id="yatchOwnerName" required>
                </div><br><br>
                <div class="input-field col s12">
                    <b><p class="blue-text text-darken-2">Address</p></b>
                    <b><p class="black-text text-darken-2">Adres</p></b>
                    <input type="text" id="address" required>
                </div><br><br>
                <div class="input-field col s4">
                    <b><p class="blue-text text-darken-2">Telephone</p></b>
                    <b><p class="black-text text-darken-2">Telefon Numarası</p></b>
                    <input type="text" id="telephone" required>
                </div>
                <div class="input-field col s4">
                    <b><p class="blue-text text-darken-2">Mobile</p></b>
                    <b><p class="black-text text-darken-2">Cep Telefonu</p></b>
                    <input type="text" id="mobile" required>
                </div>
                <div class="input-field col s4">
                    <b><p class="blue-text text-darken-2">E-Mail</p></b>
                    <b><p class="black-text text-darken-2">E-Posta</p></b>
                    <input type="text" id="mail" required>
                </div>
            </div>
        </div>
        <div class="center">
            <button id="registerFormSubmit" name="myButton" class="btn-large waves-effect waves-light blue darken-1 z-depth-5">Oluştur</button><br><br><br><br><br><br><br>
        </div>
    </form>

</section>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>

    <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyBDCgnKEdzqwnCNBa0quelrrDacqxvFrSk",
    authDomain: "spring-trophy-mail-892ec.firebaseapp.com",
    databaseURL: "https://spring-trophy-mail-892ec.firebaseio.com",
    projectId: "spring-trophy-mail-892ec",
    storageBucket: "spring-trophy-mail-892ec.appspot.com",
    messagingSenderId: "787246748678"
  };
    firebase.initializeApp(config);

    // make auth and firestore references
    const auth = firebase.auth();
    const db = firebase.firestore();
    // update firestore settings
    db.settings({ timestampsInSnapshots: true });
  </script>
  <script src="/scripts/register.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
